# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# DVC local storage & raw backup
.dvc_storage/
data/dataset_raw.csv
data/dataset_v1_raw.csv

# SQLite DBs and Feast local registries
*.db
.feast/
feature_store/data/*.db

# MLflow local runs directory (metrics & plots are saved in artifacts/)
mlruns/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
